<nav class="bg-primary px-4 py-2 shadow-lg w-3/4 mx-auto rounded-lg border-2 border-black flex flex-row">
  <ul class="flex space-x-4 self-start flex-1">
    <li>
      <a routerLink="/home"
         class="text-white hover:text-primary-light hover:underline hover:underline-offset-4"
         routerLinkActive="underline underline-offset-2">
        Home
      </a>
    </li>
    <li>
      <a routerLink="/chat"
         class="text-white hover:text-primary-light hover:underline hover:underline-offset-4"
         routerLinkActive="underline underline-offset-2">
        Chat
      </a>
    </li>
  </ul>
  <ul class="flex space-x-4 self-end">
    <li>
      <a routerLink="/choose_chat"
         class="text-white hover:text-primary-light hover:underline hover:underline-offset-4"
         routerLinkActive="underline underline-offset-2">
        Choose chat
      </a>
    </li>
    <li>
      <a routerLink="/settings"
         class="text-white hover:text-primary-light hover:underline hover:underline-offset-4"
         routerLinkActive="underline underline-offset-2">
        Settings
      </a>
    </li>
  </ul>
</nav>
