<nav class="bg-primary px-4 py-2 shadow-lg w-3/4 mx-auto rounded-lg border-2 border-black">
  <ul class="flex space-x-4">
    <li>
      <a routerLink="/home"
         class="text-white hover:text-primary-light hover:underline hover:underline-offset-4"
         routerLinkActive="underline">
        Home
      </a>
    </li>
    <li>
      <a routerLink="/chat"
         class="text-white hover:text-primary-light hover:underline hover:underline-offset-4"
         routerLinkActive="underline">
        Chat
      </a>
    </li>
  </ul>
</nav>
