<div class="overflow-y-auto flex-1 w-full flex flex-col p-1 border-2 border-primary rounded-lg">
    <form [formGroup]="messageForm"
          class="flex flex-col items-center p-2 w-full">
          <p>These are the settings for you currently active chat.</p>
          <div class="flex flex-row justify-between w-2/3">
            <div id="values" class="flex flex-col w-1/4">
              <div class="my-2">Temperature: {{messageForm.value.temperature}}</div>
              <div class="my-2">Max tokens: {{messageForm.value.max_tokens}}</div>
            </div>

            <div class="flex flex-col items-start flex-1 justify-start">
              <div class="flex flex-row w-full justify-between items-center">
                <input type="range"
                       min="0"
                       max="2"
                       step="0.1"
                       formControlName="temperature"
                       class="w-full mx-2 min-h-10 max-h-36"/>
                <button type="submit"
                        (click)="applyTemperature()">Set</button>
              </div>
  
              <div class="flex flex-row w-full justify-between items-center">
                <input type="range"
                       min="1"
                       max="4095"
                       formControlName="max_tokens"
                       step="1"
                       class="w-full mx-2 min-h-10 max-h-36"/>
                <button type="submit"
                        (click)="applyMaxTokens()">Set</button>
              </div>
            </div>
          </div>

          <div class="mt-6 w-2/3">
            <p>Custom instructions: @if(!settings.custom_instructions) {(none)}</p>
            <div class="border-2 border-primary rounded-lg p-1 min-h-8"
                 title="Custom instructions can be changed only when creating new conversations.">
              <p>{{settings.custom_instructions}}</p>
            </div>
          </div>
    </form>
  </div>
