<div class="overflow-y-auto flex-1 w-full flex flex-col p-1 border-2 border-primary rounded-lg">
    <form [formGroup]="messageForm"
          class="flex flex-col items-center p-2 w-full">
      <div class="w-2/3 flex flex-col justify-center items-center">
        <textarea type="text" formControlName="system" class="p-2 rounded-2xl m-1 w-full min-h-10 max-h-36"></textarea>
        <button type="submit"
                (click)="applyCustomInstructions()">Set custom instructions</button>
      </div>
  
      <div class="w-2/3 flex flex-row justify-center items-center">
        <input type="number" formControlName="temperature" class="p-2 rounded-2xl m-1 w-1/2 min-h-10 max-h-36"/>
        <button type="submit"
                (click)="applyTemperature()">Set temperature</button>
      </div>
  
      <div class="w-2/3 flex flex-row justify-center items-center">
        <input type="number" formControlName="max_tokens" class="p-2 rounded-2xl m-1 w-1/2 min-h-10 max-h-36"/>
        <button type="submit"
                (click)="applyMaxTokens()">Set max tokens</button>
      </div>
    </form>
  </div>
