#title {
    text-align: center;
}

#chatArea {
    width: 90%;
    height: 600px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: scroll;
    margin: 0 auto;
}

#inputArea {
    text-align: center;
    padding: 20px;
}

#userInput {
    padding: 10px;
    border: 1px solid #ccc;
    width: 700px;
    margin-left: 5px;
    margin-right: 5px;
}
#sendButton {
    cursor: pointer;
}
body {
    width: 50%;
    margin: 0 auto;
    border: 5px solid black;
}
